/* AboutSection.css */
.about-section {
  height: 500px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f8f8f8;
  margin-top: -25px;
  font-family: serif;

}

.about-content {
  display: flex;
  align-items: center;
  width: 80%;
  gap: 20px;
}

.about-text {
  flex: 1;
  padding-right: 20px;
}

.about-title {
  font-size: 64px;
  margin-bottom: -25px;
  color: #f4ce14;
  margin-bottom: -15px;
  margin-top: -10px;
}

.about-subtitle {
  font-size: 40px;
  margin-bottom: 10px;
}

.about-description {
  font-size: 20px;
  line-height: 1.5;
}

.about-images {
  flex: 1;
  position: relative;
}

.about-image {
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  object-fit: cover;
}

.top-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 60%;
  height: auto;
  z-index: 2;
  margin-top: -40px;
}

.bottom-image {
  position: absolute;
  bottom: 0;
  right: -15px;
  width: 60%;
  height: auto;
  z-index: 1;
  margin-bottom: -60px;
  margin-right: 50px;
}