/* HeroSection.css */
.hero-section {
    height: 500px;
    width: 100%;
    background: linear-gradient(to bottom, #495e57 80%, #f9f9f9 20%);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    font-family: serif;
  }
  
  .hero-content {
    display: flex;
    width: 80%;
    height: 100%;
  }
  
  .text-section {
    flex: 1;
    padding: 40px;
    color: white;
  }
  
  .hero-title {
    font-size: 64px;
    margin-bottom: -25px;
    color: #f4ce14;
    margin-bottom: -15px;
    margin-top: -10px;
  }
  
  .hero-subtitle {
    font-size: 40px;
    margin-bottom: 10px;
  }
  
  .hero-paragraph {
    font-size: 20px;
    line-height: 1.5;
  }
  
  .image-section {
    flex: 1;
    display: flex;
    align-items: flex-start;
    justify-content: top;
    padding-top: 30px;
  }
  
  .hero-image {
    height: 420px;
    width: 300px;
    border-radius: 8px;
    object-fit: cover;
  }

  .reserve-table-btn {
    background-color: #f4ce14; /* Matching brand color */
    color: black; /* White text for button */
    font-weight: bold;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease;
  }
  
  .reserve-table-btn:hover {
    background-color: #e1b912;
    transform: scale(1.05); /* Darker shade on hover */
  }

  
.reserve-table-btn:active {
  background-color: #b3900e; /* Even darker for active state */
  transform: scale(1);
}