/* HeroSection.css */
.hero-section {
    height: 500px;
    width: 100%;
    background: linear-gradient(to bottom, #495e57 80%, white 20%);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
  }
  
  .hero-content {
    display: flex;
    width: 80%;
    height: 100%;
  }
  
  .text-section {
    flex: 1;
    padding: 40px;
    color: white;
  }
  
  .hero-title {
    font-size: 2.5em;
    margin-bottom: -25px;
    color: #f4ce14;
  }
  
  .hero-subtitle {
    font-size: 1.5em;
    margin-bottom: 20px;
  }
  
  .hero-paragraph {
    font-size: 1em;
    line-height: 1.5;
  }
  
  .image-section {
    flex: 1;
    display: flex;
    align-items: flex-start;
    justify-content: top;
    padding-top: 30px;
  }
  
  .hero-image {
    height: 420px;
    width: 300px;
    border-radius: 8px;
    object-fit: cover;
  }

  .reserve-table-btn {
    background: #f4ce14;
    color: black;
  }
  