/* SpecialsSection.css */
.specials-section {
    padding: 40px 120px;
    background-color: #fff;
  }
  
  .specials-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .specials-title {
    color: black;
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
  }
  
  .online-menu-button {
    background-color: #f4ce14;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
  }
  
  .online-menu-button:hover {
    background-color: #166316;
  }
  
  .specials-dishes {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
  }
  
  .dish {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    flex: 1;
    max-width: 20%; /* Adjust based on container size */
    text-align: center;
  }
  
  .dish-image {
    width: 100%;
    height: auto;
  }
  
  .dish-details {
    padding: 15px;
  }
  
  .dish-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .dish-title h3 {
    margin: 0;
    font-size: 1.2rem;
  }
  
  .dish-price {
    font-size: 1rem;
    font-weight: bold;
    color: darkgreen;
  }
  
  .dish-description {
    font-size: 0.9rem;
    color: #555;
  }
  